<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deviceadminsample">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Device Admin Samples -->

        <activity android:name=".DeviceAdminSample"
            android:label="@string/activity_sample_device_admin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- BEGIN_INCLUDE(device_admin_declaration) -->
        <receiver android:name=".DeviceAdminSample$DeviceAdminSampleReceiver"
            android:label="@string/sample_device_admin"
            android:description="@string/sample_device_admin_description"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <!-- END_INCLUDE(device_admin_declaration) -->
    </application>

</manifest>
